.profileImg {
  background: #e8e2fb;
}
.m-0 {
  margin: 0px !important;
}
.w-100 {
  width: 100% !important;
}
.profileImg .Remy .MuiAvatar-circular {
  margin: 15px auto 15px !important;
}
.profileImg .Remy .MuiAvatar-circular {
  margin: 0 auto;
  border: 10px solid #b2a7ff;
}
.fileUploader .fileContainer {
  width: 100%;
  border: 10px solid #b2a7ff;
  background-color: #efeaff;
  border-radius: 50%;
  width: 188px;
  height: 188px;
  position: relative;
  padding: 0;
}
.fileContainer button.chooseFileButton {
  width: 40px;
  height: 40px;
  padding: 0 !important;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 !important;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #ffffff !important;
  z-index: 9;
}
.fileContainer .uploadPicturesWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
}
.fileContainer .uploadPictureContainer {
  width: 188px !important;
  height: 188px !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
}
.fileUploader .fileContainer p {
  display: none;
}
.fileContainer .errorsContainer {
  text-align: center !important;
}
.fileContainer .uploadPictureContainer img.uploadPicture {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}
.fileContainer button.chooseFileButton svg {
  color: #7564e7;
}
.profileImg .Remy {
  text-align: center;
}
main.MuiBox-root header {
  box-shadow: none;
  border-bottom: 1px solid #cecece;
}
.profileImg .Remy p {
  margin: 0 !important;
  color: #3d4a68;
  font-weight: 600;
}
.profileImg .Remy h3 {
  color: #7564e7;
  font-size: 1.4rem;
  margin: 20px 0 0px;
}
/* .custom_form_field input:focus {
  border: 1px solid #7564e7;
  border-radius: 5px;
} */
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #7564e7 !important;
  border-width: 2px !important;
}
.custom_form_field input {
  color: #3d4a68;
}
form h2 {
  margin: 0 -20px;
  padding: 0px 30px 8px;
  color: #3d4a68;
}
.custom_form_field {
  margin-bottom: 40px !important;
}
.custom_form_field .MuiFormLabel-root.Mui-focused {
  color: #3f51b5;
  background: white;
  padding: 0 2px;
}
.datefield {
  margin-top: 20px;
}
/* .datefield.css-1lwbda4-MuiStack-root,
.datefield.css-1p5q5e5-MuiStack-root {
  margin-top: 6px;
  border: 2px solid;
  border-radius: 4px;
  border-color: #dcdcdcbf;
} */
.datefield.css-1p5q5e5-MuiStack-root .MuiInputLabel-animated {
  left: 6px;
  top: -7px;
  background-color: #ffffff;
  padding: 0 4px;
  font-size: 1rem;
  transform: translate(0, 1.5px) scale(0.7);
}
.datefield.css-1p5q5e5-MuiStack-root label + .MuiInput-formControl {
  margin-top: 0;
}
.MuiGrid-root.basic.custom-basic {
  padding: 8px 8px !important;
}
main form {
  margin-bottom: 40px;
}
.datefield .MuiInput-underline:before {
  border-bottom: none !important;
  pointer-events: none;
}
.datefield button {
  padding-right: 25px;
}
.textfield.MuiFormControl-marginNormal {
  margin-top: 0px;
  margin-bottom: 0px;
}
.buttonss .cancel {
  padding: 8px 40px !important;
  border-radius: 50px;
  border: 2px solid rgb(133 133 133 / 77%) !important;
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px;
}
.buttonss .save {
  padding: 8px 25px;
  border-radius: 9px;
  background-color: #7564e7 !important;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin-left: 20px;
}
.MuiGrid-spacing-xs-2 > .MuiGrid-item {
  padding: 8px 16px !important;
}
.MuiOutlinedInput-notchedOutline {
  border-color: rgba(0, 0, 0, 0.23);
  border: 2px solid #dcdcdcbf !important;
}

.MailingborderStyle {
  padding: 8px 16px !important;
  margin-left: 10px;
  margin-right: 9px;
  margin-top: 22px;
}
.MailingDetails {
  padding-left: 10px;
  font-size: 19px;
  margin-top: 6px;
  color: 'rgba(12,11,69,255)';
}
.Labelall {
  padding-left: 10px;
  padding-right: 10px;
}

.Remy {
  background-color: #e8e2fb;
}

.MuiGrid-root.basic.MuiGrid-item.MuiGrid-grid-sm-12.MuiGrid-grid-md-12 {
  margin-top: 20px;
}
.form-shadow {
  box-shadow: 0 1px 4px #c3c3c3 !important;
}
.tab-col .MuiGrid-root a.active .MuiListItem-button {
  background-color: transparent;
  color: #7564e7;
}
.tab-col .MuiGrid-root a.active,
.tab-col .MuiGrid-root a.active:hover {
  border-bottom: 3px solid #7564e7;
  transition: 0.3s;
  color: #7564e7;
}
.tab-col .MuiGrid-root a.active span,
.tab-col .MuiGrid-root a.active:hover span {
  color: #7564e7;
  font-weight: bold;
  transition: 0.3s;
}
/* .tab-col .MuiGrid-root a span {
  font-weight: 500;
} */
.tab-col .MuiGrid-root a {
  display: flex;
  transition: 0.3s;
}
.tab-col .MuiGrid-root {
  padding: 0 !important;
  margin: 0 22px;
}
.tab-col .MuiGrid-root a {
  padding: 8px 15px !important;
  border-bottom: 3px solid transparent;
  height: 63px;
}
.tab-col .MuiListItem-button:hover {
  background-color: transparent;
}
.tab-col .MuiGrid-root a .MuiListItemText-root {
  margin: 0 !important;
}
/* .customHeadingMar {
  margin: 0px -20px;
} */
.customHeadingMar h2 {
  padding: 0px 40px 0px;
  color: #3d4a68;
  margin-bottom: 12px;
}
header .listTab .MuiGrid-root.tab-col {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow: auto;
}
header .listTab {
  display: grid;
}
@media (max-widht: 1091px) {
}

@media (max-width: 991px) {
  .tab-col .MuiGrid-root {
    margin: 0 0px;
  }
}
@media (max-width: 959px) {
  .MuiPaper-root.form-shadow {
    margin-top: 40px !important;
  }
}
@media (max-width: 767px) {
  .MuiInputLabel-outlined {
    transform: translate(14px, 11px) scale(1);
    padding-right: 15px;
  }
  .MuiGrid-root.basic.MuiGrid-item.MuiGrid-grid-sm-12.MuiGrid-grid-md-12 {
    overflow: hidden;
  }
  .profileImg .Remy h3 {
    font-size: 1.2rem;
  }
  .profileImg .Remy p {
    font-size: 1rem;
  }
  .MuiGrid-root.basic.MuiGrid-item.MuiGrid-grid-sm-12.MuiGrid-grid-md-12 {
    margin-top: 6px;
  }
  .custom_form_field {
    margin-bottom: 0px !important;
  }
  .MuiGrid-root.custom_form_field.pt-sm-0.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-12.MuiGrid-grid-md-4 {
    padding-top: 0 !important;
  }
  .MuiPaper-root.form-shadow .makeStyles-root-22 {
    margin-bottom: 30px !important;
  }
  .MuiGrid-root.basic.MuiGrid-item.MuiGrid-grid-sm-12.MuiGrid-grid-md-12
    .MuiFormControl-root.MuiFormControl-fullWidth.css-q8hpuo-MuiFormControl-root {
    margin-bottom: 5px;
  }
  .MuiGrid-root.basic.custom-basic {
    padding: 20px 8px 10px !important;
  }
}
@media (max-width: 575px) {
  .MuiGrid-root.basic.MuiGrid-item.MuiGrid-grid-sm-12.MuiGrid-grid-md-12 {
    margin-top: 0px;
  }
  .MuiGrid-root.MuiGrid-item {
    padding: 5px 5px !important;
  }
  .datefield.css-1lwbda4-MuiStack-root,
  .datefield.css-1p5q5e5-MuiStack-root {
    margin-top: 0;
  }
}
